* {
	margin: 0;
	padding: 0;
	font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/*进度条*/
.progressMask {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
}
.progressBar {
	width: 25%;
	background-color: #d93a49;
	height: 5px;
	box-shadow: 0 0 15px #000;
}

/*全屏按钮*/
.fullScreen {
	display: none;
}

/*页面容器*/
.container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #CECECE;
}
.page {
	transition: all ease 1s;
}

/*导航栏*/
.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	width: 40px;
	overflow: hidden;
	transition: all ease 0.5s;
	background-color: rgba(150, 150, 150, 0.2);
}
.asideNav {
	position: absolute;
	top: 50%;
	width: 300px;
}
.pointer {
	float: left;
	line-height: 30px;
	list-style-type: circle;
	font-size: 35px;
	color: #fff;
}
.aside .pointer .liPointer {
	list-style-type: disc;
	position: absolute;
	top: 0;
	transition: top ease 1s;
	z-index: -99;
}
.aside .pointer li {
	list-style-position: inside;
	float: left;
	margin-left: 11px;
	padding-left: 2px;
	width: 25px;
	overflow: hidden;
}
.asideTitle li, .aside ul div {
	float: right;
}
.aside li, .asideOpen {
	cursor: pointer;
}
.asideTitle {
	display: none;
}
.section {
	box-shadow: 0 0 20px #666;
	position: relative;
	overflow: hidden;
}

/*index*/
.sectionABox {
	width: 106%;
	height: 106%;
	position: absolute;
	top: -2%;
	left: -2%;
	background: url(../img/index.jpg) no-repeat center;
	background-size: cover;
	box-shadow: 0 0 20px #666;
}
.sectionALine {
	position: absolute;
	top: -100%;
	right: 15%;
	height: 75%;
	width: 100%;
	transition: all ease 0.5s;
	border-right: 2px solid rgba(170, 76, 38, 0.3);
	overflow: hidden;
}
.sectionALineColor {
	width: 2px;
	height: 100%;
	float: right;
	background-color: rgba(170, 76, 38, 0.3);
	border-radius: 1px;
	box-shadow: 0 0 5px #fff;
}
.sectionALine h1, .sectionALine p {
	float: right;
	width: 80%;
	text-align: right;
	cursor: default;
}
.sectionALine h1 {
	font-size: 100px;
	line-height: 100px;
	letter-spacing: 25px;
	color: #905a3d;
	margin-right: 100%;
}
.sectionALine .en {
	font-family: "STXihei";
	font-size: 30px;
	letter-spacing: 12px;
}
.sectionAText {
	font-family: "STXihei";
	padding-right: 10px;
	position: absolute;
	bottom: 0px;
	right: -200%;
	color: #412f1f;
	font-style: italic;
}
.sectionATextBackground {
	background-image: linear-gradient(to left, rgba(242, 174, 106, 0.2), transparent);
}
@media only screen and (min-width:950px) {

	/*全屏按钮*/
	.fullScreen {
		display: block;
		position: fixed;
		right: 0;
		top: 0;
		padding: 10px;
		float: right;
		z-index: 9999;
	}
	.fullScreen p {
		font-size: 12px;
		color: #999;
		cursor: pointer;
	}
	.fullScreen span {
		font-size: 14px;
	}

	/*导航栏*/
	.asideOpen {
		color: #fff;
		font-size: 25px;
		margin-left: 9px;
		position: absolute;
		top: 50%;
	}
	.asideTitle {
		display: inline-block;
		overflow: hidden;
		float: right;
		line-height: 30px;
		list-style-type: none;
		margin-right: 500px;
		margin-left: -500px;
		color: #fff;
		transition: all ease 0.7s;
		text-align: right;
	}
	.asideTitle div {
		width: 0px;
		margin: 14px auto;
		height: 1px;
		background-color: #ccc;
	}
	.aside .pointer div {
		margin: 7px 0 7px 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 8px solid transparent;
	}
	.aside:hover, .asideFixed {
		width: 250px;
		background-color: #f5f5f5;
		box-shadow: 0 0 20px #666;
	}
	.aside:hover ul, .aside:hover .asideOpen, .asideColorFixed {
		color: #777;
	}
	.aside:hover .asideTitle, .asideTitleFixed {
		margin-right: 85px;
	}
	.asideTitle li:hover {
		transition: all ease 0.7s;
		font-size: 22px;
		color: #222;
	}
	.asideTitle li:hover + div {
		transition: width ease 1.5s;
		width: 130px;
	}
	.aside .pointer li:hover + div {
		transition: all ease 1s;
		border-left-color: #777;
	}
}
@media only screen and (max-width:949px) {
	.aside{
		background-color: transparent;
	}
	/*首页*/
	.sectionALine h1 {
		font-size: 35px;
		line-height: 35px;
		letter-spacing: 5px;
		margin-right: 100%;
	}
	.sectionALine .en {
		font-size: 16px;
		letter-spacing: 2px;
		padding-right: 3px;
	}
	.sectionAText {
		font-size: 14px;
		padding-right: 10px;
		position: absolute;
		/*width: 100%;*/
		bottom: 0px;
		right: -200%;
		color: #412f1f;
		font-style: italic;
	}
	.sectionALine {
		right: 10%;
	}
}